<div class="volume-container">
  <div class="volume components-container">
    <div class="volume-eq">
      <div class="volume-decks">
        <slider-controller [config]="{id:'volume-deck-0',
                       min:0, max:100,
                        
                        vertical:true,
                        thumb:'sliderthumb-pitch-vertical',
                        track:'slidertrack-vol-vertical'}"
          [(ngModel)]="volume0" (ngModelChange)="changeVolume(0)"></slider-controller>
      </div>
      <div class="volume-equalizers">
        <div class="roulette-container">
          <div class="roulete-title">
            <p style="margin-bottom:3px;">High</p>
            <roulette-controller [config]="{ id: 'trebble_1', min:-40, max:40 }" [(ngModel)]="trebble0" (ngModelChange)="setEQ()"></roulette-controller>
          </div>
          <div class="roulete-title">
            <p style="margin-bottom:3px;">Mid</p>
            <roulette-controller [config]="{ id: 'middle_1', min:-40, max:40  }" [(ngModel)]="mid0" (ngModelChange)="setEQ()"></roulette-controller>
          </div>
          <div class="roulete-title">
            <p style="margin-bottom:3px;">Low</p>
            <roulette-controller [config]="{ id: 'bass_1', min:-40, max:40  }" [(ngModel)]="bass0" (ngModelChange)="setEQ()"></roulette-controller>
          </div>
          <img class="icon-reset" src="assets/images/reset.svg" (click)="resetEQ(0)">
        </div>
        <div class="roulette-container">
          <div class="roulete-title">
            <p style="margin-bottom:3px;">High</p>
            <roulette-controller [config]="{ id: 'trebble_2', min:-40, max:40  }" [(ngModel)]="trebble1"
              (ngModelChange)="setEQ()"></roulette-controller>
          </div>
          <div class="roulete-title">
            <p style="margin-bottom:3px;">Mid</p>
            <roulette-controller [config]="{ id: 'middle_2', min:-40, max:40  }" [(ngModel)]="mid1" (ngModelChange)="setEQ()"></roulette-controller>
          </div>
          <div class="roulete-title">
            <p style="margin-bottom:3px;">Low</p>
            <roulette-controller [config]="{ id: 'bass_2', min:-40, max:40  }" [(ngModel)]="bass1" (ngModelChange)="setEQ()"></roulette-controller>
          </div>
          <img class="icon-reset" src="assets/images/reset.svg" (click)="resetEQ(1)">
        </div>
      </div>
      <div class="volume-decks">
        <slider-controller [config]="{id:'volume-deck-1',
                       min:0,
                        max:100,
                         
                         vertical:true,
                        thumb:'sliderthumb-pitch-vertical',
                        track:'slidertrack-vol-vertical'}"
          [(ngModel)]="volume1" (ngModelChange)="changeVolume(1)"></slider-controller>
      </div>
    </div>
    <div class="volume-master">
      <slider-controller [config]="{id:'volume-master',
                 min:-100,
                  max:100,
                   
                thumb:'sliderthumb-pitch',
                track:'slidertrack-vol'}"
        [(ngModel)]="volumeMaster" (ngModelChange)="changeVolume(0);changeVolume(1)"></slider-controller>

    </div>
  </div>
</div>