<!-- 
    This file is part of Web Virtual DJ.

    Web Virtual DJ is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Web Virtual DJ is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Web Virtual DJ.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="volume-container" id="app_volume">
  <div class="volume components-container">
    <div class="volume-eq">
      <div class="volume-decks" [class.help]="help === 'maindeckvolume'">
        <div class="volume-images">
          <img (click)="maxVol(0)" (dragstart)="$event.preventDefault()" draggable="false" class="icon"
            src="assets/images/high-volume.png">
        </div>
        <div class="volume-slider">

          <slider-controller [config]="{id:'volume_deck_0',
                       min:0, max:100,
                        
                        vertical:true,
                        thumb:'sliderthumb-pitch-vertical',
                        track:'slidertrack-vol-vertical'}" [(ngModel)]="volume0" (ngModelChange)="changeVolume(0)">
          </slider-controller>
        </div>
        <div class="volume-images">
          <img (click)="mute(0)" (dragstart)="$event.preventDefault()" draggable="false" class="icon"
            src="assets/images/mute.png">
        </div>
      </div>
      <div class="volume-equalizers" [class.help]="help === 'equalizer'">
        <div class="roulette-container">
          <div class="roulete-title">
            <p style="margin-bottom:3px;">{{ 'VOLUME.HIGH' | translate }}</p>
            <roulette-controller [config]="{ id: 'trebble_1', min:-40, max:40 }" [(ngModel)]="trebble0"
              (ngModelChange)="setEQ(0)"></roulette-controller>
          </div>
          <div class="roulete-title">
            <p style="margin-bottom:3px;">{{ 'VOLUME.MID' | translate }}</p>
            <roulette-controller [config]="{ id: 'middle_1', min:-40, max:40  }" [(ngModel)]="mid0"
              (ngModelChange)="setEQ(0)"></roulette-controller>
          </div>
          <div class="roulete-title">
            <p style="margin-bottom:3px;">{{ 'VOLUME.LOW' | translate }}</p>
            <roulette-controller [config]="{ id: 'bass_1', min:-40, max:40  }" [(ngModel)]="bass0"
              (ngModelChange)="setEQ(0)"></roulette-controller>
          </div>
          <img (dragstart)="$event.preventDefault()" draggable="false" class="icon-reset" src="assets/images/reset.png"
            (click)="resetEQ(0)">
        </div>
        <div class="roulette-container">
          <div class="roulete-title">
            <p style="margin-bottom:3px;">{{ 'VOLUME.HIGH' | translate }}</p>
            <roulette-controller [config]="{ id: 'trebble_2', min:-40, max:40, right:true  }" [(ngModel)]="trebble1"
              (ngModelChange)="setEQ(1)"></roulette-controller>
          </div>
          <div class="roulete-title">
            <p style="margin-bottom:3px;">{{ 'VOLUME.MID' | translate }}</p>
            <roulette-controller [config]="{ id: 'middle_2', min:-40, max:40, right:true  }" [(ngModel)]="mid1"
              (ngModelChange)="setEQ(1)"></roulette-controller>
          </div>
          <div class="roulete-title">
            <p style="margin-bottom:3px;">{{ 'VOLUME.LOW' | translate }}</p>
            <roulette-controller [config]="{ id: 'bass_2', min:-40, max:40, right:true  }" [(ngModel)]="bass1"
              (ngModelChange)="setEQ(1)"></roulette-controller>
          </div>
          <img (dragstart)="$event.preventDefault()" draggable="false" class="icon-reset" src="assets/images/reset.png"
            (click)="resetEQ(1)">
        </div>
      </div>
      <div class="volume-decks" [class.help]="help === 'maindeckvolume'">
        <div class="volume-images">
          <img (click)="maxVol(1)" (dragstart)="$event.preventDefault()" draggable="false" class="icon"
            src="assets/images/high-volume.png">
        </div>
        <div class="volume-slider">
          <slider-controller [config]="{id:'volume_deck_1',
                       min:0,
                        max:100,
                         
                         vertical:true,
                        thumb:'sliderthumb-pitch-vertical',
                        track:'slidertrack-vol-vertical'}" [(ngModel)]="volume1" (ngModelChange)="changeVolume(1)">
          </slider-controller>
        </div>
        <div class="volume-images">
          <img (click)="mute(1)" (dragstart)="$event.preventDefault()" draggable="false" class="icon"
            src="assets/images/mute.png">
        </div>
      </div>
    </div>
    <div class="volume-master" [class.help]="help === 'mastervolume'">
      <slider-controller [config]="{id:'volume_balance',
                 min:-100,
                  max:100,
                   
                thumb:'sliderthumb-pitch',
                track:'slidertrack-vol'}" [(ngModel)]="volumeMaster" (ngModelChange)="changeVolume(0);changeVolume(1)">
      </slider-controller>

    </div>
  </div>
</div>