<p></p>

<p>
  Content attribution:
</p>
<br />
<div class="icon-attribution">
  <img class="icon" src="assets/images/music-player.svg">
  <img class="icon" src="assets/images/error.svg">
  <div>Icons made by
    <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
    from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</div>

<div class="icon-attribution">
  <img class="icon" src="assets/images/uno.svg">
  <img class="icon" src="assets/images/dos.svg">
  <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"
      title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>