<!--
    This file is part of Web Virtual DJ.

    Web Virtual DJ is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Web Virtual DJ is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Web Virtual DJ.  If not, see <https://www.gnu.org/licenses/>.
-->
<div class="about-container" id="app_about">
  <p>
    You can check the source code on <a target="_blank" href="https://gitlab.com/clm2609/virtualDJ">GitLab</a> or <a
      target="_blank" href="https://github.com/clm2609/VirtualDJ">Github</a>
  </p>
  <p>
    {{ 'ABOUT.CONTENT' | translate }}
  </p>
  <div class="icon-attribution">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/music-player.svg">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/error.svg">
    <div>Icons made by
      <a target="_blank" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
      from
      <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      are licensed by
      <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
        target="_blank">CC 3.0
        BY</a>
    </div>
  </div>

  <div class="icon-attribution">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/uno.svg">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/dos.svg">
    <div>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/roundicons"
        title="Roundicons">Roundicons</a> from <a target="_blank" href="https://www.flaticon.com/"
        title="Flaticon">www.flaticon.com</a> are licensed by <a target="_blank"
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </div>
  <div class="icon-attribution">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/high-volume.png">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/mute.png">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/reset.png">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/maximize.png">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/minimize.png">
    <img (dragstart)="$event.preventDefault()" draggable="false" class="icon" src="assets/images/question.png">
    <div>Icons made by <a target="_blank" href="https://icons8.com/" title="Icons8">Icons8</a> are licensed by
      <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
        target="_blank">CC
        3.0
        BY</a>
    </div>
  </div>
</div>
