<div class="deck-container">
  <div class="deck-layout components-container">
    <!-- TODO: Make this more visually appealing -->

    <div class="sound-wave" [id]="'deck_'+deckNumber+'_wave'">
      <ng-container *ngFor="let cue of cues; let i = index">
        <div class="cue-marker" [style.left.%]="cue.percent"></div>
        <div class="cue-tag-container" [style.left.%]="cue.percent">
          <div class="cue-tag-text">
            {{i+1}}
          </div>
        </div>
      </ng-container>
    </div>

    <div class="dj-deck-container">
      <div class="song-name-container">
        <div class="song-name" *ngIf="song" [attr.title]="song.name">{{song.name}}</div>
        <div class="bpm" *ngIf="bpm">{{bpm*(1+pitch/100)}} bpm</div>
      </div>

      <div class="dj-deck ">
        <div class="plate-loops">
          <div class="plate">
            <img class="vynil" [ngStyle]="{'transform': 'rotate(' + rotation+ 'deg)'}" src="assets/images/vynil.svg">
          </div>
          <div class="button-container button-container--loops" [class.help]="help === 'loop'">
            <div class="button button--loops" (click)="moveLoop(-1)">
              <div class="arrow-small-left"></div>
            </div>
            <div *ngFor="let loopi of loops.slice(actualLoop, actualLoop+showedLoops)" class="button button--loops"
              (click)="createLoop(loopi)" [class.button--effects-active]="activeLoop === loopi">{{loopi}}</div>
            <div class="button button--loops" (click)="moveLoop(+1)">
              <div class="arrow-small-right"></div>
            </div>
          </div>
        </div>
        <div class="layout-buttons">
          <div class="layout-cue-effects-pitch">
            <div class="layout-cue-effects">
              {{ 'DECK.CUES' | translate }}
              <div class="button-container button-container--cues" [class.help]="help === 'cue'">
                <div class="button button--cues" (click)="startCUE(0)">1</div>
                <div class="button button--cues" (click)="startCUE(1)">2</div>
                <div class="button button--cues" (click)="startCUE(2)">3</div>
                <div class="button button--cues" (click)="startCUE(3)">4</div>
                <div class="button button--cues" (click)="resetCUE()">Reset</div>
              </div>
              {{ 'DECK.EFFECTS' | translate }}
              <div class="button-container--effects" [class.help]="help === 'effects'">
                <div class="
                button-container button-container--effects--upper-row">
                  <div class=" button
                button--effects button--upper-row" (click)="applyEffect(0)"
                    [class.button--effects-active]="effects[0].active">1</div>
                  <div class="button button--effects button--upper-row" (click)="applyEffect(1)"
                    [class.button--effects-active]="effects[1].active">2</div>
                  <div class="button button--effects button--upper-row" (click)="applyEffect(2)"
                    [class.button--effects-active]="effects[2].active">3</div>
                </div>
                <div class="button-container button-container--effects--lower-row">
                  <div class="button button--effects button--lower-row" (click)="applyEffect(3)"
                    [class.button--effects-active]="effects[3].active">4</div>
                  <div class="button button--effects button--lower-row" (click)="applyEffect(4)"
                    [class.button--effects-active]="effects[4].active">5</div>
                  <div class="button button--effects button--lower-row" (click)="applyEffect(5)"
                    [class.button--effects-active]="effects[5].active">6</div>
                </div>
              </div>
            </div>
            <div class="layout-pitch" [class.help]="help === 'pitch'">
              <div class="layout-pitch-data">
                {{pitch}}%
              </div>
              <div class="layout-pitch-slider">
                <slider-controller [config]="{id:'pitch-deck-1',
                              min:-25,
                              max:25,
                              vertical:true,
                              thumb:'sliderthumb-pitch-vertical',
                              track:'slidertrack-pitch-vertical'}"
                  [(ngModel)]="pitch" (ngModelChange)="changePitch()"></slider-controller>
              </div>
              <div class="layout-pitch-reset">
                <img class="icon" src="assets/images/reset.svg" (click)="resetPitch()">
              </div>

            </div>
          </div>
          <div class="
                button-container button-container--cue-play" [class.help]="help === 'cue' || help === 'play'">
            <div class="button button--cue" (click)="addCUE()">CUE</div>
            <div class="button button--play" (click)="playPause()">
              <div class="play-pause">
                <div class="arrow-right"></div>
                <div class="pause-stick"></div>
                <div class="pause-space"></div>
                <div class="pause-stick"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>