<div class="deck-layout">
  <div class="sound-wave">
  sound-wave
  </div>
  <div class="dj-deck-container">
    <div class="dj-deck">
      <div class="plate-loops">
        <div class="plate">
          <img class="vynil" [ngStyle]="{'transform': 'rotate(' + rotation+ 'deg)'}" src="assets/images/vynil.svg">
        </div>
        <div class="button-container button-container--loops">
          <div class="button button--loops">2x</div>
          <div class="button button--loops">4x</div>
          <div class="button button--loops">8x</div>
          <div class="button button--loops">16x</div>
          <div class="button button--loops">32x</div>
        </div>
      </div>
      <div class="layout-buttons">
        <div class="layout-cue-effects-pitch">
          <div class="layout-cue-effects">
            CUEs
            <div class="button-container button-container--cues">
              <div class="button button--cues">CUE 1</div>
              <div class="button button--cues">CUE 2</div>
              <div class="button button--cues">CUE 3</div>
              <div class="button button--cues">CUE 4</div>
            </div>
            Effects
            <div class="button-container--effects">
              <div class="button-container button-container--effects--upper-row">
                <div class="button button--effects button--upper-row">2x</div>
                <div class="button button--effects button--upper-row">4x</div>
                <div class="button button--effects button--upper-row">8x</div>
              </div>
              <div class="button-container button-container--effects--lower-row">
                <div class="button button--effects button--lower-row">2x</div>
                <div class="button button--effects button--lower-row">4x</div>
                <div class="button button--effects button--lower-row">8x</div>
              </div>
            </div>
          </div>   
          <div class="layout-pitch">
            <slider-controller [config]="{id:'pitch-deck-1', min:-25, max:25, default:0, vertical:true}"></slider-controller>
          </div>      
        </div>
        <div class="button-container button-container--cue-play">
          <div class="button button--cue">CUE</div>
          <div class="button button--play">
            <div class="play-pause">
              <div class="arrow-right"></div>
              <div class="pause-stick"></div>
              <div class="pause-space"></div>
              <div class="pause-stick"></div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
