<div class="search-container">
  <div class="search">
    <div class="searchbar">
      <input type="text" class="searchbox" />
      <div id="b" class="searchbutton"></div>
    </div>
    <div class="search-results">
      <div class="search-result">
        Result 1
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 1
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 1
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 1
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 1
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 1
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 1
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 2
      </div>
      <div class="search-result">
        Result 2
      </div>

    </div>
    <div class="centered">
      <input class="hide-input" id="load_music" type="file" (input)="fileChangeEvent($event)" accept="audio/*" multiple=true />
      <label class="button button--green" for="load_music" id="load_music_button">Choose a
        file</label>
    </div>
  </div>
</div>