<div class="settings-container">
  <div class="question-container">
    <div class="question">
      <div class="question-label">Language</div>

      <select>
        <option value="es">Spanish</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="question">
      <div class="question-label">Template</div>
      <select>
        <option value="li">Light</option>
        <option value="da">Dark</option>
      </select>
    </div>
  </div>
  <div class="question-container">
    <div class="effects-container" *ngFor="let deck of effects;let i=index">
      <div class="question-label">Effects deck {{i+1}}</div>
      <table>
        <tr *ngFor="let effect of deck;let j=index">
          <td>Effect {{j}}</td>
          <td>
            <select [(ngModel)]="selectedEffects[i][j]" (ngModelChange)="change(i,j)">
              <option *ngFor="let availableEffect of availableEffects" [value]="availableEffect.id">{{availableEffect.name}}</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>