<div class="settings-container">
  <div class="question-container">
    <div class="question">
      <div class="question-label">Language</div>

      <select>
        <option value="es">Spanish</option>
        <option value="en">English</option>
      </select>
    </div>
    <div class="question">
      <div class="question-label">Template</div>
      <select>
        <option value="li">Light</option>
        <option value="da">Dark</option>
      </select>
    </div>
  </div>
  <div class="question-container">

    <div class="effects-container">
      <div class="question-label">Effects deck 1</div>
      <table>
        <tr>
          <td>Effect 1</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 2</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 3</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 4</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 5</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 6</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>

        </tr>
      </table>
    </div>
    <div class="effects-container">
      <div class="question-label">Effects deck 2</div>
      <table>
        <tr>
          <td>Effect 1</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 2</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 3</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 4</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 5</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Effect 6</td>
          <td>
            <select>
              <option value="li">Light</option>
              <option value="da">Dark</option>
            </select>
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>