<div class="music-container" id="app_music_list_container" [ngClass]="{'music-container-dragging':dragging}" #container>
  <table *ngIf="musicList.length>0" id="app_music_list">
    <tr class="header">
      <td></td>
      <td>
        <div class="music-search">
          <div>{{ 'MUSIC.SONG' | translate }}</div>
          <div class="centered">
            <input class="hide-input" id="load_music" type="file" (input)="fileChangeEvent($event)" accept="audio/*"
              multiple=true />
            <label class="button button--green" for="load_music" id="load_music_button">{{ 'MUSIC.CHOOSE' | translate
              }}</label>
          </div>
          <div class="searchbar">
            <input type="text" class="searchbox" [(ngModel)]="query" (ngModelChange)="updateMusic()" />
            <div id="b" class="searchbutton"></div>
          </div>
        </div>
      </td>
      <!-- <td class="header">Artist</td> -->
      <td>
        <div title="Remove all" class="icon-container" (click)="removeAllSongs()">
          <img (dragstart)="$event.preventDefault()" class="icon icon--clickable" src="assets/images/error.svg">
        </div>
      </td>
    </tr>
    <tr class="elements" *ngFor="let song of shownMusic;let i = index" ngDraggable [zIndexMoving]="9999"
      (started)="dragStart(i)" (endOffset)="dragEnd($event,i)" (mousedown)="saveStartPos($event)" [lockAxis]="x"
      [position]="index===i?offSet:{x:0,y:0}">
      <td class="icon-container">
        <img (dragstart)="$event.preventDefault()" class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="" class="info">{{song.name}}</td>
      <!-- <td title="" class="info"></td> -->
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container" (click)="loadOnDeck(0, song)"
            (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
            <img (dragstart)="$event.preventDefault()" class="icon icon--clickable" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container" (click)="loadOnDeck(1, song)"
            (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
            <img (dragstart)="$event.preventDefault()" class="icon icon--clickable" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container" (click)="removeSong(song)" (mousedown)="$event.stopPropagation()"
            (touchstart)="$event.stopPropagation()">
            <img (dragstart)="$event.preventDefault()" class="icon icon--clickable" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="shownMusic.length === 0">
      <td COLSPAN="3">{{ 'MUSIC.NOMATCH' | translate }} {{query}}</td>
    </tr>
  </table>
  <div *ngIf="musicList.length === 0" class="start-instructions" id="app_start_instructions">
    <div class="start-text">{{ 'MUSIC.START' | translate }}</div>
    <div class="centered margintop">
      <input class="hide-input" id="load_music" type="file" (input)="fileChangeEvent($event)" accept="audio/*"
        multiple=true />
      <label class="button button--green" for="load_music"
        id="load_music_button">{{ 'MUSIC.CHOOSE' | translate }}</label>
    </div>
  </div>
  <!-- {{musicService.music}} -->
</div>