/**
  This file is part of Web Virtual DJ.

Web Virtual DJ is free software: you can redistribute it and / or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

Web Virtual DJ is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
along with Web Virtual DJ.If not, see < https://www.gnu.org/licenses/>.
*/

.music-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: initial;
  height: 100%;
}

.music-container-dragging {
  overflow-y: visible;
}

.list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2em;
  align-items: center;
}

.list-item:hover {
  background-color: #444444;
}

table {
  width: 100%;
}

tr {
  height: 2em;
}

td {
  padding: 5px;
}

.header {
  background-color: #222222;
}

.elements:nth-child(even) {
  background-color: #444444;
}

.elements:nth-child(odd) {
  background-color: #555555;
}

.elements:hover {
  background-color: #333333;
}

.icons-container {
  display: flex;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
  margin-left: 5px;
}

.icon {
  width: 1.2em;
  height: 1.2em;
}

.icon--clickable {
  cursor: pointer;
}

.info {
  max-width: 0;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  font-weight: 600;
}

.start-instructions {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.music-search {
  display: flex;
  align-items: center;
}

.music-search > * {
  width: 50%;
}

.searchbar {
  padding: 0px;
}

.button {
  margin-bottom: 0;
  text-align: center;
  touch-action: manipulation;
  cursor: pointer;
  /* height: 35px; */
  border: none;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  border-radius: 2px;
  padding: 7px 15px;
  padding-top: 7px;
  transition: all 0.12s linear;
  width: 100%;
  max-width: 170px;
  min-width: 95px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  background-position: left 0 top 0;
  background-size: auto 100%;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button--green {
  color: #fff;
  background: linear-gradient(#6dbb80, #059a67);
  border-color: #059a67;
}

.centered {
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}

.hide-input {
  display: none;
}

.margintop {
  margin-top: 5px;
}

.start-text {
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
}
