<div class="music-container">
  <table>
    <tr class="header">
      <td></td>
      <td class="header">Song</td>
      <td class="header">Artist</td>
      <td>
        <div title="Remove all" class="icon-container">
          <img class="icon icon--clickable" src="assets/images/error.svg">
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon icon--clickable" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon icon--clickable" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon icon--clickable" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
    <tr class="elements">
      <td class="icon-container">
        <img class="icon" src="assets/images/music-player.svg">
      </td>
      <td title="Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00 Friday Afternoon
          You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a Plane to Go Skiing in the
          Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town, I’m Not a Very Good Skier, I
          Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I Don’t Like Surprises"
        class="info">Regretting What I Said to You When You Called Me 11:00 On a Friday Morning to Tell Me that at 1:00
        Friday Afternoon You’re Gonna Leave Your Office, Go Downstairs, Hail a Cab to Go Out to the Airport to Catch a
        Plane to Go Skiing in the Alps for Two Weeks, Not that I Wanted to Go With You, I Wasn’t Able to Leave Town,
        I’m Not a Very Good Skier, I Couldn’t Expect You to Pay My Way, But After Going Out With You for Three Years I
        Don’t Like Surprises</td>
      <td title="Christine Lavin" class="info">Christine Lavin</td>
      <td>
        <div class="icons-container">
          <div title="Load in deck 1" class="icon-container">
            <img class="icon" src="assets/images/uno.svg">
          </div>
          <div title="Load in deck 2" class="icon-container">
            <img class="icon" src="assets/images/dos.svg">
          </div>
          <div title="Remove" class="icon-container">
            <img class="icon" src="assets/images/error.svg">
          </div>
        </div>
      </td>
    </tr>
  </table>

</div>