<div class="layout" id="app_layout" [style.width.px]="width" [style.height.px]="height"
  [ngClass]="{'hidden':!((width && height) || actualWidth > actualHeight)}">
  <div class=" top-layout">
    <div class="deck">
      <app-deck [deckNumber]="0" id="app_deck_0_component"></app-deck>
    </div>
    <div class="volume-control">
      <app-volume id="app_volume_component"></app-volume>
    </div>
    <div class="deck">
      <app-deck [deckNumber]="1" id="app_deck_1_component"></app-deck>
    </div>
  </div>
  <div class="bottom-layout">
    <div class="tabs">
      <app-tabs></app-tabs>
    </div>
  </div>
</div>
<div class="layout" id="app_wrong_orientation_warning" *ngIf="!((width && height) || actualWidth > actualHeight)">
  {{ 'LAYOUT.INFO' | translate }}
</div>