<div class="layout" [style.width.px]="width" [style.height.px]="height" *ngIf="((width && height) || window.innerWidth > window.innerHeight);else warning">
  <div class=" top-layout">
    <div class="deck">
      <app-deck [deckNumber]="0"></app-deck>
    </div>
    <div class="volume-control">
      <app-volume></app-volume>
    </div>
    <div class="deck">
      <app-deck [deckNumber]="1"></app-deck>
    </div>
  </div>
  <div class="bottom-layout">
    <div class="search">
      <app-search></app-search>
    </div>
    <div class="tabs">
      <app-tabs></app-tabs>
    </div>
  </div>
</div>
<ng-template #warning>
  <div class="layout">
    For the application to work properly you must have a higher width than height in your device, thought at least
    width being 1.2 times the height is recommended.
  </div>
</ng-template>